<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flex Layout</title>
		<link rel="stylesheet" href="./css/app.css" />
	</head>
	<body>
		<header class="page-header">
			<div class="container">
				<nav class="row">
					<!-- <div class="logo">Logo</div> -->
					<figure class="logo">
						<img src="./img/logo.png" alt="" />
					</figure>
					<ul class="main-menu">
						<li class="menu__item">Home</li>
						<li class="menu__item">Chi siamo</li>
						<li class="menu__item">Contatti</li>
					</ul>
					<a href="#">Login</a>
				</nav>
			</div>
		</header>

		<main>
			<section class="hero">
				<div class="container">
					<div class="row">
						<div class="col-50">
							<h1>Ciao mondo</h1>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
								iste nesciunt aliquid ad quisquam architecto quo quod aut,
								praesentium, pariatur eveniet perferendis dolorem deleniti
								dolorum. Voluptatem amet rem praesentium beatae.
							</p>
							<a href="#">Leggi articolo</a>
						</div>
						<div class="col-50">
							<img
								src="https://boolean.careers/images/png/Jumbo-img-mobile.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</section>

			<section class="blog">
				<div class="container">
					<h2>Il meglio del nostro blog</h2>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-50">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
						<div class="col-25">
							<div class="card">
								<h3>Titolo articolo</h3>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing elit.
									Quos, nihil vel incidunt excepturi tempore quibusdam dolor
									blanditiis veritatis sed iure.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="team">
				<div class="container">
					<h2>Il nostro team di professionisti</h2>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="card-team">
								<figure>
									<img src="./img/profile.png" alt="" />
								</figure>
								<div class="team__info">
									<h3 class="team__name">Gianluca Lomarco</h3>
									<p class="team__job">Creative Developer</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="error">
				<div class="container">
					<div class="row">
						<div class="col-50 card">colonna che è anche contenuto</div>
						<div class="col-50 card">colonna che è anche contenuto</div>
						<div class="col-50">
							<div class="card">contenuto dentro alla colonna</div>
						</div>
						<div class="col-50">
							<div class="card">contenuto dentro alla colonna</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
